@charset "UTF-8";
* {
    box-sizing: border-box;
}

co,
a {
    color: brown;
}

header,
h1 {
    text-align: center;
}

main,
p {
    text-align: center;
    line-height: 1.2;
}

img {
    position: relative;
    top: -200px;
}