@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 215, 169);
    font-size: 20;
}

co,
a {
    color: brown;
}

header,
h1 {
    text-align: center;
}

main,
p {
    text-align: center;
    line-height: 1.2;
}