@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    line-height: 2;
}

div {
    position: relative;
    top: -400px;
    left: 310px;
}

co,
a {
    color: brown;
}